{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}

<div class="container" style="width: 50%; height: 50%;">
    <div class="row">
        <div class="col-md-3">
            <div class="bs-callout bs-callout-info" id="callout-focus-command">
                <p>Command</p>
                <hr>
                <h4>{{ command }}</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-callout bs-callout-info" id="callout-focus-cluster">
                <p>Cluster</p>
                <hr>
                <h4>{{ cluster }}</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bs-callout bs-callout-primary" id="callout-focus-uncommon">
                <p>Uncommon</p>
                <hr>
                <h4>{{ uncommon }}</h4>
            </div>
        </div>
        <div class="col-md-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Commands in this cluster</th>
                    </tr>
                </thead>
               <tbody>
               {% for entry in clustersDict[cluster] %}
                    <tr>
                    <td>{{ entry }}</td>
                    </tr>
               {% endfor %}
               </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Synonym</th>
                    </tr>
                </thead>
               <tbody>
               {% for syn in syms %}
                    <tr>
                    <td>{{ syn }}</td>
                    </tr>
               {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
