{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}

<div class="container" style="width: 50%; height: 50%;">
    <div class="row">
        <div class="col-md-4">
            <div class="bs-callout bs-callout-default" id="callout-focus-command">
                <h3>Command: {{ command }}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-callout bs-callout-default" id="callout-focus-command">
                <h3>Cluster: {{ cluster }}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-callout bs-callout-danger" id="callout-focus-command">
                <h3>Uncommon: {{ uncommon }}</h3>
            </div>
        </div>
        <div class="col-md-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Commands in this cluster</th>
                    </tr>
                </thead>
               <tbody>
               {% for entry in clustersDict[cluster] %}
                    <tr>
                    <td>{{ entry }}</td>
                    </tr>
               {% endfor %}
               </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Synonym</th>
                    </tr>
                </thead>
               <tbody>
               {% for syn in syms %}
                    <tr>
                    <td>{{ syn }}</td>
                    </tr>
               {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
