{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
        google.load("visualization", "1", {packages: ["sankey", "corechart", "charteditor", "controls", "table"]});
        var chartEd = null;
        var wrap = null;
        var chartEditorDiv = null;
        // Populates the chart div on startup and initiates global vars. Called on page load.
        function drawChartEditor(){
            // Initialize Chart editor handle
            chartEd = new google.visualization.ChartEditor();
            google.visualization.events.addListener(chartEd, 'ok', saveChart);
            chartEditorDiv = document.getElementById('chartEditorDiv');
            var colors = ['#0266C8', '#F90101', '#F2B50F', '#00933B'];
            // Add the chart to the page
            wrap = new google.visualization.ChartWrapper(
            {
            {% if sankey %}
               'chartType':'Sankey',
               'dataTable': {{ jsonChart|safe }},
               'options': {sankey: {
                    node: {
                      colors: colors
                    },
                    link: {
                      colorMode: 'gradient',
                      colors: colors
                    }
                  }}
            }
            {% else %}
               'chartType':'ColumnChart',
               'dataTable': {{ jsonChart|safe }},
               'options': {'title':'', 'legend':'none'},
               'view': {'columns': [0, 1, 2]}
            }
            {% endif %}
            );

            wrap.draw(chartEditorDiv);

            var tableData = new google.visualization.DataTable({{ jsonTable|safe }});
            var table = new google.visualization.Table(document.getElementById('table'));
            var tableOptions = {showRowNumber: false, width: '100%', height: '100%'};
            table.draw(tableData, tableOptions);

        }

        // User clicked 'ok' to save chart
        function saveChart(){
            chartEd.getChartWrapper().draw(chartEditorDiv);
        }

        // Onclick handler, opens the editor
        function loadEditor() {
            chartEd.openDialog(wrap, {});
        }

        google.setOnLoadCallback(drawChartEditor);
</script>
{% if sankey %}
<div class="container" style="width: 100%; height: 100%;">

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div id="chartEditorDiv" style="width: 100%; height: 800px;"></div>
                    <input class="btn btn-default" type="submit" name="loadcharteditor" id="loadcharteditor" value="Edit" onClick="loadEditor()">
                </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div id="table" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container" style="width: 100%; height: 100%;">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div id="chartEditorDiv" style="width: 100%; height: 380px;"></div>
                    <input class="btn btn-default" type="submit" name="loadcharteditor" id="loadcharteditor" value="Edit" onClick="loadEditor()">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div id="table" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
