{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart", "charteditor", "table"]});
        var chartEd = null;
        var wrap = null;
        var chartEditorDiv = null;
        // Populates the chart div on startup and initiates global vars. Called on page load.
        function drawChartEditor(){
            // Initialize Chart editor handle
            chartEd = new google.visualization.ChartEditor();
            google.visualization.events.addListener(chartEd, 'ok', saveChart);
            chartEditorDiv = document.getElementById('chartEditorDiv');

            // Add the chart to the page
            wrap = new google.visualization.ChartWrapper({
               'chartType':'BarChart',
               'dataTable': {{ jsonChart|safe }},
               'options': {'title':'', 'legend':'none'}
            });
            wrap.draw(chartEditorDiv);

            // Create a range slider, passing some options
            var donutRangeSlider = new google.visualization.ControlWrapper({
              'controlType': 'NumberRangeFilter',
              'containerId': 'filter_div',
              'options': {
                'filterColumnLabel': 'Donuts eaten'
              }
            });
        }

        // User clicked 'ok' to save chart
        function saveChart(){
            chartEd.getChartWrapper().draw(chartEditorDiv);
        }

        // Onclick handler, opens the editor
        function loadEditor() {
            chartEd.openDialog(wrap, {});
        }

        google.setOnLoadCallback(drawChartEditor);

</script>

<div class="container" style="width: 100%; height: 100%;">
    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div id="filter_div" style="width: 100%; height: 380px;"></div>
                        <div id="chartEditorDiv" style="width: 100%; height: 380px;"></div>
                        <input class="btn btn-default" type="submit" name="loadcharteditor" id="loadcharteditor" value="Edit" onClick="loadEditor()"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
