{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}
<div class="jumbotron">
    <center>
        <h3>Welcome! Let's get started...</h3>
        <p></p>
        <p><a class="btn btn-primary btn-md" href="/dashboard" role="button">Dashboard</a></p>
    </center>
</div>
<hr>
<p class="text-center"><img src="/static/logo.png" style="width:96px;height:80px;"></p>
{%- endblock %}

