{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container" style="width: 50%; height: 50%;">
        <div class="panel panel-primary">
            <div class="panel-heading">Custom lookup</div>
            <div class="panel-body">
                <blockquote>
                    <p>You can run custom Spark SQL queries from here. However, results will be limited in size as they
                        need
                        to fit in the master's memory when collected.</p>

                    <p>To get the full results, run the query manually through PySpark and save the results to HDFS. You
                        can
                        then manually download the files to your PC.</p>
                    <footer>- Yoda :-)</footer>
                </blockquote>
                <form action="" method="post" class="form" role="form">
                    <div class="form-group required">
                        <label class="sr-only" for="fromdate">From</label>
                        {{ form.fromdate(class="form-control", required type="date") }}
                    </div>
                    {{ form.lookup(class="form-control") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
