{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container" style="width: 50%; height: 50%;">
        <div class="panel panel-primary">
            <div class="panel-heading">Custom lookup</div>
            <div class="panel-body">
                <blockquote>
                    <p>You can run custom Spark SQL queries from here. However, results will be limited in size as they
                        need
                        to fit in the master's memory when collected.</p>

                    <p>To get the full results, run the query manually through PySpark and save the results to HDFS. You
                        can
                        then manually download the files to your PC.</p>
                    <footer>- Yoda :-)</footer>
                </blockquote>
                <form method="POST" class="form-group">
                  <div class="form-group">
                {{ form.table.label }}: {{ form.table() }}
                  </div>
                  <div class="form-group">
                {{ form.fromdate.label }}: {{ form.fromdate() }}
                  </div>
                  <div class="form-group">
                {{ form.todate.label }}: {{ form.todate() }}
                  </div>
                <div class="form-group">
                {{ form.query.label }}: {{ form.query() }}
                  </div>
                <div class="form-group">
                {{ form.num.label }}: {{ form.num() }}
                  </div>
                  <button type="submit" class="btn btn-primary">
                     {{ form.lookup() }}
                  </button>
                  <button type="submit" class="btn btn-primary">
                      {{ form.download() }}
                  </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
