{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}
<div class="container" style="width: 50%; height: 50%;">
    <div class="panel panel-default">
        <div class="panel-heading">VPN lookup</div>
        <div class="panel-body">
            <pre>Enter a username in the format firstName.lastName@email.com to look up VPN logins/logouts)</pre>
            {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
        </div>
    </div>
</div>
{% endblock %}
