{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{ util.flashed_messages(dismissible=True) }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart", "table"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            var pieChartData = new google.visualization.DataTable({{ json|safe }});
            var tableData = new google.visualization.DataTable({{ json|safe }});
            var barChartData = new google.visualization.DataTable({{ json|safe }});

            var pieChartOptions = {title: 'VPN stats Pie Chart', width: '100%', height: '100%'};
            var barChartOptions = {title: 'VPN stats Bar Chart', width: '100%', height: '100%'};
            var tableOptions = {showRowNumber: false, width: '100%', height: '100%'};

            var barChart = new google.visualization.BarChart(document.getElementById('barchart'));
            var pieChart = new google.visualization.PieChart(document.getElementById('piechart'));
            var table = new google.visualization.Table(document.getElementById('table'));

            barChart.draw(barChartData, barChartOptions);
            pieChart.draw(pieChartData, pieChartOptions);
            table.draw(tableData, tableOptions);

        }
</script>

<div class="container" style="width: 100%; height: 100%;">
    <div class="panel panel-primary">
        <div class="panel-heading">VPN User Statistics</div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Bar Chart</div>
                    <div class="panel-body">
                        <div id="barchart" style="width: 100%; height: 380px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Pie Chart</div>
                    <div class="panel-body">
                        <div id="piechart" style="width: 100%; height: 380px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Table</div>
                    <div class="panel-body">
                        <div id="table" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
