{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart", "table"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var pieChartData = new google.visualization.DataTable( {{ json|safe }} );
    var tableData = new google.visualization.DataTable( {{ json|safe }} );

    var pieChartOptions = { title: 'VPN stats Pie Chart' };
    var tableOptions = { title: 'VPN stats table' };

    var pieChart = new google.visualization.PieChart(document.getElementById('piechart'));
    var table = new google.visualization.Table(document.getElementById('table'));

    pieChart.draw(pieChartData, pieChartOptions);
    Table.draw(tableData, tableOptions);

  }
</script>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">VPN lookup</div>
        <div class="panel-body">
            <div id="piechart" style="width: 900px; height: 500px;"></div>
            <div id="table" style="width: 900px; height: 500px;"></div>

        </div>
    </div>
</div>
{% endblock %}
